<html>
<head>
	{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}"/>
	<link href='http://fonts.googleapis.com/css?family=Lato:100;900' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>

		<script type="text/javascript">		

		console.log("++paths ");

		var path_list = {{paths}};
		var flightPlanCoordinates = [];
		
		console.log(path_list);

		
		
	</script>
	<script type="text/javascript" src="{% static "js/google-maps.js" %}"></script>

	<script type="text/javascript" src="{% static "js/goal.js" %}"></script>

	
	<title></title>
</head>
<body>
	<div class="wrapper">
		<div class="center-frame">
			<div class="green-background"></div>
			<div class="white-background">
				<div class="progress-bar" style="color: white; text-align: center">
					<div id="playerTwo"><div id="progressTwo"></div></div>
					<div id="playerOne"><div id="progressOne"></div></div>
				</div>
				<div class="content-area">
				<div id="map-canvas" style="color: white; text-align: center"></div>
				<div class="stat-column" style="color: white; text-align: center">
					<h1>Your RunKeeper Statistics</h1>
					<p>Distance: <span id="distance">{{current_progress}}</span></p>
					<p>Average Speed: {{avg_speed}}mph </p>
					<p>Percentage: {{percent_completed}}%</p>
				</div>
				</div>
			</div>	
		</div>
	</div>
	<div id="access_token" style="display:none">{{ access_token }}</div>
	<div id="goal_id" style="display:none">{{ goal_id }}</div>
</body>
<script>
	
	var playerOneValue = 89;
	var playerTwoValue = 52;
	var $progressOne = $('#progressOne')
	var $progressTwo = $('#progressTwo')
	var $contentArea = $('.content-area')
	$(function() {
		$("#playerOne").progressbar({
			value: playerOneValue,
			change: function() {
				progressOne.text($("#playerOne").progressbar("value") + "%");
				alert(1)
			},
			complete:function(){
				var text = "<p class='complete-text'>Micheal Wins!</p>";
				text += "<img src='{% static 'img/running.svg'%}'>";
				$contentArea.html(text);
			}
		});
		$("#playerTwo").progressbar({
			value: playerTwoValue,
			change: function() {
				alert(1)
				progressTwo.text($("#playerTwo").progressbar("value") + "%");
			},
			complete: function() {
				progressTwo.text("Complete!");
			}
		});
		$('#progressOne').text($('#playerOne').progressbar("value") + "%");
		$('#progressTwo').text($('#playerTwo').progressbar("value") + "%");
	});

	</script>
</html>